@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Cookie&family=Signika+Negative:wght@300..700&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
  margin:0;
  padding:0;
  font-family: Signika Negative, sans-serif;
}
body {
	background-color:#d5eaed;
}
main{
	width: 60%;
	margin: 0 auto 50px auto;
}
a{
	text-decoration: none;
	color: black;
}

/*--------------------------Header---------------*/

.header{
	width: 100%;
	height: 50px;
	background-color:#fff;
	box-shadow: 4px 4px #0000001a;
}

.header-contents{
	height: 100%;
	width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* Styling for a non-logged in user's header ---------------------------------------*/
/*--- Logo is used for both the actual logo, and placement for register/login--*/
#feed{
	padding-right: 7px;
	padding-left: 5px;
}

.logo p{
	font-size: 1.25rem;
}

.logo{
	margin: auto 0;
}
/*---Register/login specific styling with logo--*/
.logo li{
	list-style-type: none;
    display: inline-block;
}

#rounded-box{
	color:white;
	border-radius: 15px;
	border: 2px solid #ab8fb5;
	background-color: #ab8fb5;
	padding: 8px;
}

#rounded-box:hover{
	border: 2px solid #8d7296;
	background-color: #8d7296;
}


/*-----------------------Styling for a logged in user's header------------*/

.logged-in{
	display: flex;
	margin: auto 0;
}

.item{
	padding-top: 5px;
	margin: auto 0;
}

#wardrobe{
	cursor: pointer;
}

#header-user{
	padding: 0px 5px 0px 20px;
}

#profile-picture img{
	border-radius: 50px;
	cursor: pointer;
}

#profile-picture{
	position: relative;
}

#logout{
	padding-left: 5px;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/* ------------------------------------------------------------------------ */

/*----Puts elements side by side----*/
.container{
	display: flex;
	justify-content: space-between;
}

.container-child{
	display: inline-block;
	vertical-align: middle;
}




/*---------------------------------*/
/*--------------Style main setup--------*/

.grid-container {
	display: flex;
}

.grid-col1{
    background-color: white;
	border-radius: 10px;
	margin: 50px auto;
	width: 65%;
	box-shadow: 4px 4px #0000001a;
}

.grid-col{
    background-color: white;
	border-radius: 10px;
	margin: 50px auto;
	width: 25%;
	box-shadow: 4px 4px #0000001a;
}

.row{
	max-width: 400px;
	border-radius: 10px;
	background-color: white;
	margin-top: 20px;
}


#section-header{
	border-radius: 10px 10px 0px 0px;
	border: 2px solid pink;
	background-color: pink;
	padding: 5px;
	text-align: center;
}


/*----------------------------Styling for Left column. Where elephants appear in feed---------------------*/

.feed-collection{
	width: 90%;
	margin: 0 auto;
}

div[id^='elephant-post.']{
	margin: 10px 0px;
	border-radius: 15px;
	border: 4px solid pink;
	background-color: white;
	width: 100%;
	text-align: center;
	position: relative;
}

.split{
	display: flex;
	justify-content: space-between;
	margin: auto 0;
}

.elephant-post-child, .elephant-post-child img{
	display: inline-block;
	vertical-align: middle;
	margin: auto 0;
}

.submitted-elephant{
	margin-bottom: 20px;
}

.post-container{
	position: relative;
}

#like-button{
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 3px;
}

#view-description, #close-description{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 3px;
}

#description{
	background-color: pink;
	text-align: left;
	padding: 10px;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

#like-child{
    line-height: 7px;
    padding: 7px 0;
}

i{
	cursor: pointer;
}


h1{
    line-height: 10px;
    padding: 10px 0;
	font-size: 1.3rem;
}



/*----------------Footer Style---------*/

.footer-container{
	background-color:#fff;
	padding: 7px 0px;
	position: relative;
    bottom: 0;
	width: 100%;
    height: 2.5rem;
}

.top{
	width: 75%;
	margin: 0 auto;
	display:flex;
	justify-content:space-between;
}

.top li{
	list-style-type: none;
    display: inline-block;
}