@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Cookie&family=Signika+Negative:wght@300..700&display=swap');


*{
  margin:0;
  padding:0;
  font-family: Signika Negative, sans-serif;

}

body {
	background-color:#d5eaed;
}

main{
	width: 60%;
	margin: 0 auto;
}

/*--------------------------Header---------------*/

.header{
	width: 100%;
	height: 50px;
	background-color:#fff;
	box-shadow: 4px 4px #0000001a;
}

.header-contents{
	height: 100%;
	width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* Styling for a non-logged in user's header ---------------------------------------*/
/*--- Logo is used for both the actual logo, and placement for register/login--*/
.logo p{
	font-size: 1.25rem;
}

.logo{
	margin: auto 0;
}
/*---Register/login specific styling with logo--*/
.logo li{
	list-style-type: none;
    display: inline-block;
}

.logo a{
	text-decoration: none;
}

#rounded-box{
	color:white;
	border-radius: 15px;
	border: 2px solid #ab8fb5;
	background-color: #ab8fb5;
	padding: 8px;
}

#rounded-box:hover{
	border: 2px solid #8d7296;
	background-color: #8d7296;
}


/*-----------------------Styling for a logged in user's header------------*/

.logged-in{
	display: flex;
	margin: auto 0;
}

.item{
	padding-top: 5px;
	margin: auto 0;
}

#wardrobe{
	cursor: pointer;
}

#header-user{
	padding: 0px 5px 0px 20px;
}

#profile-picture img{
	border-radius: 50px;
	cursor: pointer;
}

#profile-picture{
	position: relative;
}

#logout{
	padding-left: 5px;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
/*----Puts elements side by side----*/
.container{
	background-color:pink;
	display: flex;
	justify-content: space-between;
}

.container-child{
	display: inline-block;
	vertical-align: middle;
	margin: auto auto;
}

/*---------------------------------*/
/* Styling for the grid system */

.grid-container {
	margin: 0 auto;
	display: flex;
	max-height: 80vh;
}

.grid-col1{
	border-radius: 10px 0px 0px 10px;
	margin: 50px 0px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.grid-col2{
	margin: 50px 0px;
}

.grid-col3{
	border-radius: 0px 10px 10px 0px;
	margin: 50px 0px;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

#section-header-left{
	border-radius: 10px 0px 0px 0px;
	border: 2px solid pink;
	background-color: pink;
	padding: 5px;
	text-align: center;
}
#section-header-middle{
	border: 2px solid pink;
	background-color: pink;
	padding: 5px;
	text-align: center;
}
#section-header-right{
	border-radius: 0px 10px 0px 0px;
	border: 2px solid pink;
	background-color: pink;
	padding: 5px;
	text-align: center;
}

/*----------------------------Dressup Elephant Side---------------------*/
#elephant{
	background-color:white;
}

#outfit-button{
	background-color:pink;
	padding: 10px;
	margin: 0px 20px;
}
#outfit-button:hover{
	background-color: #eda1af;
	padding: 10px;
}

.item-list{
	background-color:#fff5f7;
	padding: 8px;
	overflow-y: scroll;
	height: 100%;
	border-radius: 0px 0px 0px 10px;
}

.item-image{
	background-color: pink;
	border-radius: 5px;
	border: 1px solid #eda1af;
	margin: 8px auto;
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-position: center;
}
.elephant-pic{
	border: 2px solid #eda1af;
	border-style: none solid solid solid;
}

/*--Keep all images a set size--*/
.elephant-pic img{
	width: 350px;
	height: 350px;
	overflow: hidden;
}

/*----------------------------Closet Side---------------------*/
.filter-container{
	background-color:#ffe0e7;
	display: flex;
	justify-content: space-between;
}
#filter-item{
	padding: 10px;
}
#filter-item:hover{
	background-color: pink;
	padding: 10px;
	cursor: pointer;
}

.closet{
	background-color: #fff5f7;
	overflow-y: hidden;
	height: 100%;
	border-radius: 0px 0px 10px 0px;
}

.row{
	display: flex;
	padding: 0 4px;
}

.column-item{
	background-color: pink;
	border: 1px solid #eda1af;
	border-radius: 5px;
	margin: 8px 4px;
	height: 140px;
	width: 140px;
	background-repeat: no-repeat;
	background-position: center;
}

/*---------------------------------------*/


.footer-container{
	background-color:#fff;
	padding: 7px 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.top{
	width: 75%;
	margin: 0 auto;
	display:flex;
	justify-content:space-between;
}

.top li{
	list-style-type: none;
    display: inline-block;
}
