<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant Title</title>
    <link rel="stylesheet" href="/static/css/maker-style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	  <!--Following 3 scripts are for p5play game library-->
<!--	<script src="/static/javascript/q5.js"></script>-->
<!--	  <script src="static/javascript/p5.min.js"></script>-->
	  <script src="/static/javascript/p5.js"></script>
  	<script src="static/javascript/planckmin.js"></script>
  	<script src="/static/javascript/p5play.js"></script>
  </head>

  <body>
	<!--------------Header---------------------->
	  <header>
		<div class="header"> <!--Here for styling Not useless-->
			<div class="header-contents">
				<div class="logo">
					<img src="/static/images/elephant-small.jpg" style="cursor: pointer" class="container-child" onclick="elephantSound()">
					<p class="container-child"><a href="/" id="link"> Elephant Fashion Brawl </a></p>
				</div>
				<!--When logged in, set display: flex"-->
				<div class="logged-in" style="display: flex;">
					<a class="item" href="/elephant-feed" style="padding-right: 5px;">View Posted Elephants</a>
					<a class="item" href="/elephant-feed"><span style="padding-right: 20px;" class="fa-solid fa-bars" id="feed"></span></a>
					<div class="item" id="wardrobe">
						<a href="/elephant-maker">
							<span class="material-symbols-outlined">checkroom</span>
						</a>
					</div>
					<div class="item" id="header-user">{username}</div>
					<div class="item" id="profile-picture"><a href="/profile"><img id="pfp-src" src="{{pfp}}"></a></div>

					<!--When pressing logout, GET request is made-->
					<div class="item" id="logout">
						<form action="/logout" method="get">
							<label><input type="submit" value="Log Out"></label>
						</form>
					</div>
				</div>
			</div>
		</div>
	  </header>

<!--    <main>-->
<!--		<div id="elephant-pic-src"><img id="ep-img-src" src="/static/images/elephant.png" width="700" height="700"></div>-->
		<img id="ep-img-src" src="/static/images/elephant.png" hidden>
<!--		<script>-->
<!--			document.getElementById("ep-img-src").style.visibility="hidden";-->
<!--		</script>-->
		<div class="grid-container">

			<div class="grid-col1" id="currentlyWearing">
				<p id="section-header-left" style="color: pink;"> - </p>
				<!--Worn items get added to the item-list-->
				<div class="item-list" id="item-list">
					<div class="item-image"><img id="0" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div> <!--Make bckground-img the clothing. 36px by 36px-->
					<div class="item-image"><img id="1" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="2" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="3" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="4" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="5" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="6" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="7" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="8" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
					<div class="item-image"><img id="9" src="/static/images/elephant-small.jpg" width="36" height="36" onmouseover="iconHoverOver(this)" onmouseout="iconHoverOff(this)" onclick="deleteViaIcon(this)"></div>
				</div>
			</div>

			<div class="grid-col2" id="elephant">
				<p id="section-header-middle"> Your Elephant </p>
				<div class="inner-elephant">
<!--					<div id="elephant-pic"><img src="/static/images/elephant.png"></div>-->
<!--						<div id="forCanvas" style="width: 350px; height: 350px; display: block; position: relative"></div>-->
                    <main></main>
					<div class="container" id="elephant-info">

					<!----------------------------------------SUBMIT ELEPHANT------------------------------------------------->

						<button class="dialog-button-submit" id="dialog-submit-elephant" onclick="openDialog(); saveCanvasToImage()">Submit Elephant (Post Feature)</button>
						<div id="shadow">
						<form name="elephantSubmitForm" action="/submit-elephant" method="post" enctype="multipart/form-data" id="elephant-submit-form">
							<dialog id="dialog-submit">
								<button id="close" onclick="closeDialog()" type="button">X</button>
								<h1>Post Your Elephant</h1>
								Title:<br/>
								<label>
									  <input id="title" type="text" name="title" placeholder="Name your elephant" maxlength="35"/>
								</label>
								<br/>
								Description (250 Characters):
								<br/>
								<label>
									  <textarea id="description-val" type="text" name="description" rows="5" cols="50" maxlength="250" placeholder="Give your elephant a description"></textarea>
								</label>
								<br/> <!-- As a placeholder, saving the url to our static elephant image-->
									  <!-- In the future, I imagine the saving of elements to paths -->
									<input id="elephantImg" type="text" name="file" hidden/>
									<input id="username" type="text" name="username" value="{username}" hidden/>
								<!-- Close dialog and submit at the same time -->

								<input type="submit" class="container-child" id="outfit-button-submit" value="Submit Outfit"/>
							</dialog>
						</form>
						</div>

					<!----------------------------------------------------------------------------------------->
					</div>
				</div>
			</div>

			<div class="grid-col3">
				<p id = "section-header-right"> Your Closet </p>
				<div class="filter-container">
					<p class="container-child" id="filter-item" onclick="elephantSelector()">Elephant</p>
					<p class="container-child" id="filter-item" onclick="headSelector()">Head</p>
					<p class="container-child" id="filter-item" onclick="trunkSelector()">Trunk</p>
					<p class="container-child" id="filter-item" onclick="bodySelector()">Body</p>
					<p class="container-child" id="filter-item" onclick="shoeSelector()">Feet</p>
					<p class="container-child" id="filter-item" onclick="accessorySelector()">Accessories</p>
				</div>

				<div class="closet"> <!--2 rows of 4 items-->

				<!--OPTIONS FOR SELECTING AN ELEPHANT BASE-->
					<div id="elephant-selector" style="display: block;"">
						<div class= "row">
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/elephant.png" draggable="false" onclick="selectElephant(this)"/></button></div>
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/old-elephant.jpg" draggable="false" onclick="selectElephant(this)"/></button></div>
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/phanpy.png" draggable="false" onclick="selectElephant(this)"/></button></div>
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/shaped-elephant.jpg" draggable="false" onclick="selectElephant(this)"/></button></div>
						</div>
						<div class= "row">
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/crafty-elephant.jpg" draggable="false" onclick="selectElephant(this)"/></button></div>
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/cute-elephant.jpg" draggable="false" onclick="selectElephant(this)"/></button></div>
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/greattusk.jpg" draggable="false" onclick="selectElephant(this)"/></button></div>
							<div class="column-item-elephant"><button class="selector-img"><img src="/static/images/sleek-mammoth.jpeg" draggable="false" onclick="selectElephant(this)"/></button></div>
						</div>
					</div>

					<!--------OPTIONS FOR SELECTING HEAD ACCESSORIES------------>
					<div id="head-selector" style="display: none;">
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="partyhat" style="background-size: contain; background-image:url('/static/images/fashion/partyhat.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="cowboyhat" style="background-size: contain; background-image:url('/static/images/fashion/cowboyhat.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="fringe" style="background-size: contain; background-image:url('/static/images/fashion/fringe.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="fishfearme" style="background-size: contain; background-image:url('/static/images/fashion/fishfearme.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="propellerhat" style="background-size: contain; background-image:url('/static/images/fashion/propellerhat.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="cloudhair" style="background-size: contain; background-image:url('/static/images/fashion/cloudhair.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="beanie" style="background-size: contain; background-image:url('/static/images/fashion/beanie.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="fedora" style="background-size: contain; background-image:url('/static/images/fashion/fedora.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
					</div>

					<!--------OPTIONS FOR SELECTING TRUNK ACCESSORIES------------>
					<div id="trunk-selector" style="display: none;">
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="goggle" style="background-size: contain; background-image:url('/static/images/fashion/goggle.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="blush" style="background-size: contain; background-image:url('/static/images/fashion/blush.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="cloutgoggles" style="background-size: contain; background-image:url('/static/images/fashion/cloutgoggles.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="dealwithit" style="background-size: contain; background-image:url('/static/images/fashion/dealwithit.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="happy2018" style="background-size: contain; background-image:url('/static/images/fashion/happy2018.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="incognito" style="background-size: contain; background-image:url('/static/images/fashion/incognito.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="shuttershades" style="background-size: contain; background-image:url('/static/images/fashion/shuttershades.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="triangleshades" style="background-size: contain; background-image:url('/static/images/fashion/triangleshades.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
					</div>

					<!--------OPTIONS FOR SELECTING BODY ACCESSORIES------------>
					<div id="body-selector" style="display: none;">
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="diller" style="background-size: contain; background-image:url('/static/images/fashion/diller.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="hamster" style="background-size: contain; background-image:url('/static/images/fashion/hamster.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="luffy" style="background-size: contain; background-image:url('/static/images/fashion/luffy.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="Mordecai" style="background-size: contain; background-image:url('/static/images/fashion/Mordecai.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="nyanpng" style="background-size: contain; background-image:url('/static/images/fashion/nyanpng.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="optimusprime" style="background-size: contain; background-image:url('/static/images/fashion/optimusprime.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="penguincute" style="background-size: contain; background-image:url('/static/images/fashion/penguincute.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="twilightsparkle" style="background-size: contain; background-image:url('/static/images/fashion/twilightsparkle.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
					</div>

					<!--------OPTIONS FOR SELECTING FEET ACCESSORIES------------>
					<div id="shoe-selector" style="display: none;">
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="birk" style="background-size: contain; background-image:url('/static/images/fashion/birk.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="crocs" style="background-size: contain; background-image:url('/static/images/fashion/crocs.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="heel" style="background-size: contain; background-image:url('/static/images/fashion/heel.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="doc" style="background-size: contain; background-image:url('/static/images/fashion/doc.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="bigredboot" style="background-size: contain; background-image:url('/static/images/fashion/bigredboot.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="jordan" style="background-size: contain; background-image:url('/static/images/fashion/jordan.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="tim" style="background-size: contain; background-image:url('/static/images/fashion/tim.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="ugg" style="background-size: contain; background-image:url('/static/images/fashion/ugg.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
					</div>

					<!--------OPTIONS FOR SELECTING MISC. ACCESSORIES------------>
					<div id="accessory-selector" style="display: none;">
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="magicwand" style="background-size: contain; background-image:url('/static/images/fashion/magicwand.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="discoball" style="background-size: contain; background-image:url('/static/images/fashion/discoball.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="bustersword" style="background-size: contain; background-image:url('/static/images/fashion/bustersword.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="cane" style="background-size: contain; background-image:url('/static/images/fashion/cane.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
						<div class= "row">
							<div class="column-item"><div class="selector-img" id="birkin" style="background-size: contain; background-image:url('/static/images/fashion/birkin.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="lollipop" style="background-size: contain; background-image:url('/static/images/fashion/lollipop.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="bowtie" style="background-size: contain; background-image:url('/static/images/fashion/bowtie.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
							<div class="column-item"><div class="selector-img" id="baseballbat" style="background-size: contain; background-image:url('/static/images/fashion/baseballbat.png'); background-repeat: no-repeat; background-position: center center;" width="50" height="50" draggable="true" ondragstart="drag(event, this.id)"></div></div>
						</div>
					</div>

				</div>
			</div>

		</div>
		<div id="fashion-icons" hidden>
<!--			hats-->
			<img id="partyhat-icon" style="background-size: contain; background-image:url('/static/images/icons/partyhat-icon.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="cowboyhat-icon" style="background-size: contain; background-image:url('/static/images/icons/cowboyhat-icon.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="fringe-icon" style="background-size: contain; background-image:url('/static/images/icons/fringe.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="fishfearme-icon" style="background-size: contain; background-image:url('/static/images/icons/fishfearme.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="propellerhat-icon" style="background-size: contain; background-image:url('/static/images/icons/propellerhat.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="cloudhair-icon" style="background-size: contain; background-image:url('/static/images/icons/cloudhair.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="beanie-icon" style="background-size: contain; background-image:url('/static/images/icons/beanie-icon.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="fedora-icon" style="background-size: contain; background-image:url('/static/images/icons/fedora.png'); background-repeat: no-repeat; background-position: center center;">
<!--			trunk-->
			<img id="goggle-icon" style="background-size: contain; background-image:url('/static/images/icons/goggle.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="blush-icon" style="background-size: contain; background-image:url('/static/images/icons/blush.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="cloutgoggles-icon" style="background-size: contain; background-image:url('/static/images/icons/cloutgoggles.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="dealwithit-icon" style="background-size: contain; background-image:url('/static/images/icons/dealwithit.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="happy2018-icon" style="background-size: contain; background-image:url('/static/images/icons/happy2018.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="incognito-icon" style="background-size: contain; background-image:url('/static/images/icons/incognito.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="shuttershades-icon" style="background-size: contain; background-image:url('/static/images/icons/shuttershades.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="triangleshades-icon" style="background-size: contain; background-image:url('/static/images/icons/triangleshades.png'); background-repeat: no-repeat; background-position: center center;">
<!--			body-->
			<img id="diller-icon" style="background-size: contain; background-image:url('/static/images/icons/diller.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="hamster-icon" style="background-size: contain; background-image:url('/static/images/icons/hamster.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="luffy-icon" style="background-size: contain; background-image:url('/static/images/icons/luffy.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="Mordecai-icon" style="background-size: contain; background-image:url('/static/images/icons/Mordecai.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="nyanpng-icon" style="background-size: contain; background-image:url('/static/images/icons/nyanpng.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="optimusprime-icon" style="background-size: contain; background-image:url('/static/images/icons/optimusprime.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="penguincute-icon" style="background-size: contain; background-image:url('/static/images/icons/penguincute.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="twilightsparkle-icon" style="background-size: contain; background-image:url('/static/images/icons/twilightsparkle.png'); background-repeat: no-repeat; background-position: center center;">
<!--			shoe-->
			<img id="birk-icon" style="background-size: contain; background-image:url('/static/images/icons/birk.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="crocs-icon" style="background-size: contain; background-image:url('/static/images/icons/crocs.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="heel-icon" style="background-size: contain; background-image:url('/static/images/icons/heel.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="doc-icon" style="background-size: contain; background-image:url('/static/images/icons/doc.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="bigredboot-icon" style="background-size: contain; background-image:url('/static/images/icons/bigredboot-icon.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="jordan-icon" style="background-size: contain; background-image:url('/static/images/icons/jordan.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="tim-icon" style="background-size: contain; background-image:url('/static/images/icons/tim.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="ugg-icon" style="background-size: contain; background-image:url('/static/images/icons/ugg.png'); background-repeat: no-repeat; background-position: center center;">
<!--			misc-->
			<img id="magicwand-icon" style="background-size: contain; background-image:url('/static/images/icons/magicwand.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="discoball-icon" style="background-size: contain; background-image:url('/static/images/icons/discoball.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="bustersword-icon" style="background-size: contain; background-image:url('/static/images/icons/bustersword.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="cane-icon" style="background-size: contain; background-image:url('/static/images/icons/cane.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="birkin-icon" style="background-size: contain; background-image:url('/static/images/icons/birkin.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="lollipop-icon" style="background-size: contain; background-image:url('/static/images/icons/lollipop.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="bowtie-icon" style="background-size: contain; background-image:url('/static/images/icons/bowtie.png'); background-repeat: no-repeat; background-position: center center;">
			<img id="baseballbat-icon" style="background-size: contain; background-image:url('/static/images/icons/baseballbat-icon.png'); background-repeat: no-repeat; background-position: center center;">

		</div>
<!--    </main>-->

	<footer>
		<div class="footer-container">
<!--			error checking canvas img blob -> src url. it works!-->
<!--			<img id="checkCanvas" src="/static/images/sleek-mammoth.jpeg" width="50" height="50">-->
			<div class="top">
				<ul class="top-child">
					<li href="#">Support</li>
					<li> | </li>
					<li href="#">Contact</li>
				</ul>
			</div>
			<div class="top">
				<ul class="top-child">
					<li href="#">Privacy Policy</li>
					<li> | </li>
					<li href="#">Copyright</li>
				</ul>
				<ul class="top-child">
					<li><a href="https://www.instagram.com/elephant_small.jpg?igsh=MXYxNWJndmE1ZGljcw==">Instagram <i class="fa-brands fa-instagram"></i></a></li>
					<li> | </li>
					<li><a href="#">Discord <i class="fa-brands fa-discord"></i></a></li>
					<li> | </li>
				</ul>
			</div>
		</div>
	</footer>
  	<script src="/static/javascript/function.js"></script>
  	<script src="/static/javascript/submissions.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>
<!--	<script type="text/javascript" src="/static/javascript/load-images.js" defer></script>-->
	<script src="/static/javascript/fashion-game.js" defer></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<!--	<script type="text/javascript" charset="utf-8">-->
<!--		  const socket = io({autoConnect: false});-->
<!--		  let postData;-->

<!--		  // Connect to websocket when submitting an elephant to send updated html to every client-->
<!--		  // Issue: user has to click another element besides description box to send ws info properly-->
<!--		  const testButton = document.getElementById("description-val");-->

<!--		  testButton.addEventListener("change", function () {-->
<!--			  console.log("This should print");-->

<!--			  let elephant_title = document.getElementById("postTitle").value;-->
<!--			  let username = document.getElementById("header-user").textContent;-->
<!--			  // Description Fix: only update once when description is edited-->
<!--			  let description = document.getElementById("description-val").value;-->
<!--			  let elephant_image = document.getElementById("elephant-pic-src").src;-->
<!--			  let pfp = document.getElementById("pfp-src").src;-->

<!--			  console.log("Text Area: " + description);-->

<!--			  postData = {"elephant_title": elephant_title, "username": username,-->
<!--				  "description": description, "elephant_image": elephant_image, "pfp": pfp};-->

<!--			  console.log("Post Data: " + JSON.stringify(postData));-->

<!--			  socket.connect();-->

<!--			  // Sends all user input to the server (app.py) from the elephant post form-->
<!--			  socket.on('connect', function() {-->
<!--				  socket.emit('postData', JSON.stringify(postData));-->
<!--			  })-->
<!--		  })-->
<!--	  </script>-->

  </body>
</html>
