<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maker-style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	</head>
  
  <body>
	<!--------------Header---------------------->
	  <header>
		<div class="header"> <!--Here for styling Not useless-->
			<div class="header-contents">
				<div class="logo">
					<img src="{{ url_for('static', filename='images/elephant-small.jpg') }}" style="cursor: pointer" class="container-child" onclick="elephantSound()">
					<p class="container-child"><a href="/" id="link"> Elephant Fashion Brawl </a></p>
				</div>
				<!--When logged in, set display: flex"-->
				<div class="logged-in" style="display: flex;">
					<div class="item" id="wardrobe">
						<a href="/elephant-maker">
							<span class="material-symbols-outlined">checkroom</span>
						</a>
					</div>
					<div class="item" id="header-user">{username}</div>
					<div class="item" id="profile-picture"><img src="{{ url_for('static', filename='images/test-profile-picture.png') }}"></div>
					
					<!--When pressing logout, GET request is made-->
					<div class="item" id="logout">
						<form action="/logout" method="get">
							<label><input type="submit" value="Log Out"></label>
						</form>
					</div>
				</div>
			</div>
		</div>
	  </header>
	  
    <main>
		<div class="grid-container">
		
			<div class="grid-col1" id="currentlyWearing">
				<p id="section-header-left" style="color: pink;"> - </p>
				<!--Worn items get added to the item-list-->
				<div class="item-list">
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> <!--Make bckground-img the clothing. 36px by 36px-->
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
					<div class="item-image" style="background-image: url('../images/elephant-small.jpg');"></div> 
				</div>
			</div>
		
			<div class="grid-col2" id="elephant">
				<p id="section-header-middle"> Your Elephant </p>
				<div class="inner-elephant">
					<div class="elephant-pic">
						<img src="{{ url_for('static', filename='images/elephant.png') }}">
					</div>
					<div class="container" id="elephant-info">
					<!----------------------------------------------------------------------------------------->
						<form action="/save-elephant" method="post" enctype="multipart/form-data">
							<label>
								<input type="submit" class="container-child" id="outfit-button" value="Save Outfit"></input>
							</label>
						</form>
					<!----------------------------------------------------------------------------------------->
						<form action="/submit-elephant" method="post" enctype="multipart/form-data">
							<label>
								<input type="submit" class="container-child" id="outfit-button" value="Submit Outfit"></input>
							</label>
						</form>
					<!----------------------------------------------------------------------------------------->
					</div>
				</div>
			</div>
			
			<div class="grid-col3">
				<p id = "section-header-right"> Your Closet </p>
				<div class="filter-container">
					<p class="container-child" id="filter-item">Head</p>
					<p class="container-child" id="filter-item">Trunk</p>
					<p class="container-child" id="filter-item">Body</p>
					<p class="container-child" id="filter-item">Feet</p>
					<p class="container-child" id="filter-item">Accessories</p>
					<p class="container-child" id="filter-item">Makeup</p>
				</div>
				<div class="closet"> <!--2 rows of 4 items-->
					<div class= "row">
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
					</div>
					<div class= "row">
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
						<div class="column-item" style="background-image: url('../images/elephant-small.jpg');"></div>
					</div>
				</div>
			</div>
			
		</div>
    </main>
	
	<footer>
		<div class="footer-container">
			<div class="top">
				<ul class="top-child">
					<li href="#">Support</li>
					<li> | </li>
					<li href="#">Contact</li>
					<li> | </li>
					<li href="#">-</li>
				</ul>
				<ul class="top-child">
					<li href="#">Insta</li>
					<li> | </li>
					<li href="#">Discord</li>
					<li> | </li>
					<li href="#">-</li>
				</ul>
			</div>
			<div class="top">
				<ul class="top-child">
					<li href="#">Support</li>
					<li> | </li>
					<li href="#">-</li>
					<li> | </li>
					<li href="#">-</li>
				</ul>
				<ul class="top-child">
					<li href="#">Insta</li>
					<li> | </li>
					<li href="#">Discord</li>
					<li> | </li>
					<li href="#">-</li>
				</ul>
			</div>
		</div>
	</footer>
  <script src="../javascript/function.js"></script>
  </body>
</html>
