<div id="elephant-post.{{post_num}}">
					<div class="split" id="section-header">
                         <h1 class="elephant-post-child">{{elephant_title}}</h1>
                         <div class="elephant-post-child">
                            <div>{{username}}</div>
                             <div id="profile-picture">
                                 <img src="{{pfp}}">
                             </div>
                         </div>
                    </div>
                      <div class="post-container">
                      <!-- Image should be what's stored in the database-->
                         <img class="submitted-elephant" src="{{elephant_image}}" style="width: 300px; height: 300px;">
                        <input id="post_id" value="{{post_id}}"  hidden/>
                         <div id="like-button">
                           <button type="button"  onclick="likeElephant('elephant-post.{{post_num}}')" class="button-like"><i class="fa-regular fa-heart" id="like-child" style="display: block"></i></button>
                            <!-- When liked, should increment like counter shown on page. Can do this in JS easily, but idk how it will work w the database..
                            It might be easier to pretend that this like counter incremented up for the user.
                            It will still happen in the background, but having the page refresh to show this change is probably bad UI since user will be taken to top of page-->
                           <button type="button"  onclick="unlikeElephant('elephant-post.{{post_num}}')" class="button-unlike"  style="display: none"><i class="fa-solid fa-heart" id="like-child"></i></button>
                            <p class="like-child" id="like-counter">{like-count}Likes</p>
                         </div>
                         <button type="button" id="view-comments" onclick="openComments('elephant-post.{{post_num}}')">View Comments</button>
                         <button type="button" id="view-description" onclick="openDesc('elephant-post.{{post_num}}')">View Description</button>
                      </div>
                      <div id="description" style="display: none;">
                         {{description}}
                      </div>
					  <div id="comments" style="display: none;">

                          <!--------------LEAVING COMMENTS------------------->
                          <div id="leave-comment">
							<form action="/leave-comment" method="post" enctype="application/x-www-form-urlencoded" style="text-align: left;">
								<!--Comment left by commenter-->
								<label>
									<textarea id="form-comment-message" type="text" name="comment-message" rows="5" cols="50" maxlength="250" placeholder="Compliment this wonderfully fashionable elephant!"></textarea>
								</label>
								
								<!--Username of commenter must be stored-->
								<input id="username" type="text" name="username" value="" hidden/>
								<!--Post number that a user is commenting on-->
								<!-- Im not sure if the current value for this input actually works, so replace it if it doesn't.-->
								<input id="post_id" name="post_id" value="{{post_id}}" hidden/>
								<label><input type="submit" value="Post Comment"/></label>
							</form>
						</div>
						
				<!--IF NO COMMENTS EXIST then "No Comments Yet" or something similar should be there instead-->
						{{comments}}
						
						<!--<div id="comment">
							<div id="comment-info">
								{commenter}:
							</div>
							<div id="comment-message">
								{comment-message}
							</div>
						</div>-->
						
					  </div>
</div>