

<div id="elephant-post.{{post_num}}">
					<div class="split" id="section-header">
                         <h1 class="elephant-post-child">{{elephant_title}}</h1>
                         <div class="elephant-post-child" id="profile-picture">{{username}}<img src="/static/images/test-profile-picture.png"></div>
                      </div>
                      <div class="post-container">
                      <!-- Image should be what's stored in the database-->
                         <img class="submitted-elephant" src="/static/images/elephant.png" style="width: 300px; height: 300px;">
                        <input id="post_id" value="{{post_id}}"  hidden>
                         <div id="like-button">
                           <button type="button"  onclick="likeElephant('elephant-post.{{post_num}}')" class="button-like"><i class="fa-regular fa-heart" id="like-child" style="display: block"></i></button>
                            <!-- When liked, should increment like counter shown on page. Can do this in JS easily, but idk how it will work w the database..
                            It might be easier to pretend that this like counter incremented up for the user.
                            It will still happen in the background, but having the page refresh to show this change is probably bad UI since user will be taken to top of page-->
                           <button type="button"  onclick="unlikeElephant('elephant-post.{{post_num}}')" class="button-unlike"  style="display: none"><i class="fa-solid fa-heart" id="like-child"></i></button>
                            <p class="like-child" id="like-counter"> {like-count} Likes</p>
                         </div>
                         <button type="button" id="view-description" onclick="openDesc('elephant-post.{{post_num}}')">View Description</button>
                      </div>
                      <div id="description" style="display: none;">
                         {{description}}
                      </div>
                   </div>


