<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elephant Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	</head>
  
  <body>
	<!--------------Header---------------------->
	  <header>
		<div class="header"> <!--Here for styling Not useless-->
			<div class="header-contents">
				<div class="logo">
					<img src="{{ url_for('static', filename='images/elephant-small.jpg') }}" style="cursor: pointer" class="container-child" onclick="elephantSound()">
					<p class="container-child"><a href="/" id="link"> Elephant Fashion Brawl </a></p>
				</div>
				<!--Users shouldn't be logged in if they're on the login page-->
				<div class="logo" style="display: flex;">
					<ul>
						<li><a href="/register" id="rounded-box">Register</a></li>
						<li><a href="/login">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	  </header>
	  
    <main>
		<div class="login-container">
			<p id="section-header">Create an Account</p>
			<div class="enter-auth">
               <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
					<label>Username:
					<input id="userregister" type="text" name="username" placeholder="username"/>
					</label>
					
					<label>Password:&nbsp;
					<input id="passregister" type="password" name="password" placeholder="password"/>
					</label>
					
					<input id="submit-button" type="submit" value="Sign Up">
               </form>
			</div>
			<div class="other-options">
			   <p>Already Have An Account? <a href="/login">Login</a></p>
			</div>
		</div>
    </main>
	
	<footer>
		<div class="footer-container">
			<div class="top">
				<ul class="top-child">
					<li href="#">Support</li>
					<li> | </li>
					<li href="#">Contact</li>
					<li> | </li>
					<li href="#">-</li>
				</ul>
				<ul class="top-child">
					<li href="#">Insta</li>
					<li> | </li>
					<li href="#">Discord</li>
					<li> | </li>
					<li href="#">-</li>
				</ul>
			</div>
			<div class="top">
				<ul class="top-child">
					<li href="#">Terms of Service</li>
					<li> | </li>
					<li href="#">Privacy Policy</li>
				</ul>
				<ul class="top-child">
					<li href="#">Insta</li>
					<li> | </li>
					<li href="#">Discord</li>
					<li> | </li>
					<li href="#">-</li>
				</ul>
			</div>
		</div>
	</footer>
  <script src="../javascript/function.js"></script>
  </body>
</html>
