<!--obsolete sample page for initial stage of fashion game testing-->
<!--in the final product this will do nothing; keeping just in case-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sample fashion game p5play</title>
</head>
<body>
  <script src="/static/javascript/q5.js"></script>
  <script src="/static/javascript/planckmin.js"></script>
  <script src="/static/javascript/p5play.js"></script>
  <script src="/javascript/fashion-game.js"></script>
</body>
</html>