<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>where are we right now</title>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.2/p5.js"></script>
  	<script src="static/javascript/planckmin.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5play/3.24.13/p5play.js"></script>
    <img id="grab" src="/static/images/sleek-mammoth.jpeg" hidden>
</head>
<body>
  <main></main>
  <img src="/static/images/elephant.png" width="50" height="50" draggable="false" onclick="change(this)">
  <img src="/static/images/old-elephant.jpg" width="50" height="50" draggable="false" onclick="change(this)">
  <script src="/static/javascript/experiment.js"></script>
</body>
</html>