<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>where are we right now</title>
  	<script src="/static/javascript/q5.js"></script>
  	<script src="/static/javascript/planckmin.js"></script>
  	<script src="/static/javascript/p5play.js"></script>
    <img id="grab" src="/static/images/sleek-mammoth.jpeg" hidden>
</head>
<body>
  <div id="target"></div>
  <img src="/static/images/elephant.png" width="50" height="50" draggable="false" onclick="setBackground(this)">
  <img src="/static/images/old-elephant.jpg" width="50" height="50" draggable="false" onclick="setBackground(this)">
  <script src="/static/javascript/experiment.js"></script>
</body>
</html>